@media (min-width: 768px) {
    .logo{
        display:none;
    }
    .container.header {
        display: flex;
    }

    .user-block {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .header {
        display: flex;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        float: none;
    }

    .user-block {
        display: block;
        flex-direction: unset;
    }

}

@media (min-width: 1200px) {

}
